manifest {
    description = 'Nextflow configuration for hap.py run'
    author = 'Oxford MMM team: Fan Yang'
}

profiles{

    docker{
        docker {
            enabled = true
        }

        process {
            withLabel: happy {
                container = 'pkrusche/hap.py:v0.3.9'  
            }
        }
    }
}



